body{
    font-size: 1.2rem;
    margin: 1rem;
    border-radius: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container{
    background-color: #FBE0D1;
    border-radius: 10px;
}

h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2{
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

h3{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

ul, ol{
    margin-inline-start: 1rem;
}

li{
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: #69123b;
    margin-bottom: 1rem;
}

a:hover{
    background-color: #69123b;
    color: #F59E6F;
    padding: 0.5rem;

}
.menu {
    display: inline-block;
    margin-left: 1.5rem;
    color: #FBE0D1;
}

.logo{
    display: block;
    width: 30%;
}


header{
    padding: 1rem;
    background-color: #69123b;
    color: whitesmoke;
    border-radius: 10px 10px 0 0;
}

footer{
    padding: 1rem;
    background-color: #69123b;
    color: #FBE0D1;
    border-radius: 0 0 10px 10px;
}

.angular{
    margin-bottom: 0;
}

header, section, footer{
    padding: 2rem;
}

