body{
    padding: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
h1{
    font-size: 2.4rem;
    padding: 1rem;
}

p{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
#main{
    display: flex;
}
img{
    max-width: 100%;
    padding: 0.5rem;
}

header{
    border: 1px solid black;

}

section{
    border: 1px solid black;
}

footer{
    border: 1px solid black;
}